body {
  background-color: #16619c;
}
h1 {
  color:#dda169;
  text-align: center;
}
/*.navbar {
  display: inline-flex;
  justify-content: space-around;
}
/*.container-fluid{
  display: flex;
  justify-content:space-around;
}*/
.dropdown-item {
background-color: #dda169;
}
.nav-link0 {
  font-family: "Luciole", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #c7c7bf;
}
.nav-link1 {
  font-family: "Luciole", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #c7c7bf;
}
.nav-link2 {
  font-family: "Luciole", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #8cd0e1;
}
.nav-link3 {
  font-family: "Luciole", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #EF7E8E;
}
.nav-link4 {
  font-family: "Luciole", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #dda169;
}
.btn {
  background-color: #8cd0e1;
}

